<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Todo List</title>
</head>
<body>
    <main>
        <div>
             <h1> Create a new List </h1>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="name">
                <button type="submit">Create</button>
            </form>
        </div>
    </main>

</body>
</html>
