<!DOCTYPE html>
<html lang = "en">
<head>
  <title> Todo Lists </title>
</head>
<body>
    <main>
        <div>
            <h1>Update List</h1>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="name">
                <button type="submit">Update</button>
        </div>
        <p></p>
    </main>
    <footer></footer>


</body>
</html>
