<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todo_list.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' id=todo_list.id %}">Edit</a>
                <a href="{% url 'todo_list_delete' id=todo_list.id %}">Delete</a>
                <a href="{% url 'todo_item_create' todo_list_id=todo_list.id %}">Create a new item</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th> Task </th>
                        <th> Due date </th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td>{{ task.task }}</td>
                        <td>{{ task.due_date|date:" M d, Y"}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
        </div>
    </main>
</body>

</html>
