<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>Create a new item</h1>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="name">
                <input type="text" name="due date">
                <input type="checkbox" name="is_completed">
                <select name="list"></select>
                <button type="submit">Create</button>
            </form>
        </div>
    </main>

</body>
</html>
